/* Globe Styles */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    text-decoration: none;
    list-style: none;
}

/* Base colors */

:root {
    --color-text-white: #FFFFFF;
    --color-red: #FF6565;
    --color-text-black: #071629;
    --color-background-white: #F2F2F2
}


/* General styles */

body {
    font-family: source sans pro, sans-serif;
}


h1 {
    font-size: 32px;
}

h2 {
    font: 46px bold var(--color-text-white);
}

h3 {
    font: 18px semibold var(--color-text-black);
}

h4 {
    font: 16px bold var(--color-text-white);
}

h5 {
    font: 14px regular;
}

h6 {
    font: 12px regular var(--color-text-white);
}

p {
    font: 16px regular;
}

nav a {
    font: 12px bold var(--color-text-white);
}

/* Nav styles */