:root {
    --color-button: rgba(194, 113, 255, 1);
    --color-background: rgba(194, 113, 255, 1);
    --color-text: rgba(255, 255, 255, 1);
    --color-bg2: rgba(7, 22, 41, 1);
    --color-text2: rgba(7, 22, 41, 0.5);

}

body {
    font-family: 'Source Sans Pro', sans-serif;
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

/*--------------------- Nav Bar-------------------  */

nav {
    display: flex;
    justify-content: space-between;
    padding: 35px 172px;

}

.links {
    display: flex;
    gap: 2rem;
    align-items: center;
    list-style-type: none;
}

.links a {
    text-decoration: none;
    color: var(--color-text);
    font-size: 12px;
    font-weight: 700;
    padding: 0 20px;
}

.links a:hover {
    color: var(--color-background);

}

.navbar-background {
    background-image: url(./images/Object.png);
    background-size: cover;
}




/*--------------------- Section Main-------------------  */
/*--------------------- Top main-------------------  */


.main-top h1 {
    color: var(--color-text);
    font-size: 120px;
    font-weight: 700;
    text-align: center;
    padding-top: 220px;
    line-height: 150px;
}

.main-span {
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    color: var(--color-text);
}

.main-span span {
    padding: 0 30px;
}

.main-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 38px;
}

button {
    color: var(--color-text);
    font-size: 14px;
    font-weight: 600;
    background-color: var(--color-background);
    border: none;
    border-radius: 2rem;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.5);
    padding: 1rem 2rem;
}

/*--------------------- Below main-------------------  */


.main-below h2 {
    font-size: 32px;
    font-weight: 300;
    text-align: center;
    color: var(--color-text);
    padding-top: 200px;
}

.main-below span {
    color: var(--color-background);
    font-weight: 700;
}

.pros {
    display: flex;
    align-items: center;
    text-align: center;
    overflow-y: auto;
    padding: 0 217px;
    padding-top: 100px;
    padding-bottom: 150px;
}

.pro {
    padding: 0 100px;
}

.pro_img {
    width: 150px;
    height: 150px;
    overflow: hidden;
    margin: 0 auto;
    border-radius: 50%;
}

.pro_info {
    text-align: center;
    color: white;
}

.pro_info h3 {
    font-size: 18px;
    font-weight: 900;
    padding-top: 15px;
    padding-bottom: 10px;
}

.pro_info p {
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
}


/*--------------------- Section Testimonials-------------------  */

.testimonials {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-background);
    gap: 53px;
    padding: 120px 230px;

}

.testimonials img {
    width: 160;
    height: 160;
}

.testimonials blockquote {
    color: var(--color-text);
    font-size: 22px;
    font-weight: 400;
    padding-bottom: 22px;
}

.testimonials h3 {
    font-size: 22px;
    font-weight: 500px;
    color: var(--color-text);

}

.testimonials p {
    font-size: 22px;
    font-weight: 400px;
    color: var(--color-text);
    font-style: italic;
}

/*--------------------- Section Tutorials-------------------  */


.tutorials h2 {
    font-size: 32px;
    font-weight: 300;
    color: var(--color-bg2);
    text-align: center;
    padding: 87px 0;
}

.tutorials span {
    font-size: 32px;
    color: var(--color-background);
    font-weight: 700;
}

.container-tuto {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
    padding-bottom: 87px;
}

.tuto {
    border: 1px solid transparent;
    padding: 0 31px;
}

.tuto-img {
    width: 255px;
    height: 154px;
    position: relative;
}

.tuto-img span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.tuto-info {
    padding: 18px 18px;
    width: 255px;
}

.tuto-info h3 {
    font-size: 16px;
    font-weight: 700;
    color: var(--color-bg2);

}

.tuto-info p {
    font-size: 14px;
    font-weight: 400;
    color: var(--color-text2);
    line-height: 1.5rem;
    padding: 10px 0;
}

.avatar {
    display: flex;
    gap: 10px;
    align-items: center;
    padding-bottom: 14px;
}

.avatar img {
    height: 30px;
    width: 30px;
}

.avatar h4 {
    color: var(--color-background);
    font-size: 14;
    font-weight: 600;
}

.star {
    display: flex;
    color: var(--color-background);
}

.star div:nth-child(5) {
    color: rgb(176, 179, 181);
}

.rating {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rating p {
    color: var(--color-background);
}

/*--------------------- Section Membership-------------------  */

.membership {
    background-color: var(--color-bg2);
}

.membership h2 {
    font-size: 32px;
    font-weight: 300;
    color: var(--color-text);
    text-align: center;
    padding-top: 70px;
    padding-bottom: 57px;


}

.membership span {
    font-size: 32px;
    font-weight: 700;
    color: var(--color-background);
}

.container_member {
    display: flex;
    overflow-y: auto;
    gap: 27px;
    padding-left: 164px;
    padding-right: 164px;

}

.member {
    text-align: center;
    padding: 0 80px;


}

.member img {
    width: 44;
    height: 35;
    padding-bottom: 30px;

}

.member h3 {
    font-size: 18px;
    font-weight: 600;
    color: var(--color-text);

}

.member p {
    font-size: 14px;
    font-weight: 400;
    color: var(--color-text);
    line-height: 1.5rem;
    padding: 10px;
}

.membership_button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 85px;
    padding-bottom: 70px;
}

.membership button {
    color: var(--color-text);
    font-size: 14px;
    font-weight: 600;
    background-color: var(--color-background);
    border: none;
    border-radius: 2rem;
    box-shadow: rgba(0, 0, 0, 0.5);
    padding: 1rem 2rem;
}


/*--------------------- Section faq-------------------  */


.faqs h2 {
    text-align: center;
    padding-top: 67px;
    font-weight: 300;
    font-size: 60px;
    color: var(--color-bg2);
}

.faq {
    padding-left: 140px;
    padding-right: 140px;
}

.container_faq {
    display: flex;
    gap: 80px;
    padding-top: 74px;
    padding-left: 250px;
    padding-right: 250px;
}

.faq h3 {
    font-size: 16px;
    font-weight: 700px;
    color: var(--color-bg2);
}

.par {
    font-size: 14px;
    font-weight: 400;
    color: var(--color-text2);
    padding-top: 30px;
    padding-bottom: 84px;


}


/*--------------------- Section footer-------------------  */

.footer {
    background-color: var(--color-bg2);
    text-align: center;
}

.container_footer {
    display: flex;
    justify-content: space-between;
    padding: 95px 240px;
}

.footer_logo {
    width: 170;
    height: 30;
}

.social_icons {
    color: var(--color-text);
}

.social_icons i {
    padding: 0 20px;
    width: 30;
    height: 30;
}

.footer p {
    color: var(--color-text);
    opacity: 36%;
    font-size: 12px;
    font-weight: 400;
    padding-bottom: 40px;
}